<app-navbar></app-navbar>
<div id="vehicles-header">
  <h2 *ngIf="user">Hello, {{user.name}}!</h2>
  <button *ngIf="!addingNewVehicle" type="button" class="btn btn-light"
    id="add-new-vehicle" (click)="allowAddingVehicle()">
    Add New Vehicle
  </button>
</div>
<div id="vehicles-container">
  <app-add-vehicle (cancel)="disallowAddingVehicle()" (submitVehicle)="onVehicleAdded($event)"  
    *ngIf="addingNewVehicle"></app-add-vehicle>
  <div *ngIf="!addingNewVehicle" id="vehicle-tables">
    <div id="error-registered-vehicles" *ngIf="errorRegistedVehicles">
      Error while fetching registered vehicles: {{errorRegistedVehicles}}
    </div>
    <div *ngIf="user && user.vehicles && user.vehicles.length > 0">
      <h3><label for="user-vehicles">Your vehicles</label></h3>
      <app-vehicles-table id="user-vehicles"  [vehicles]="user.vehicles" (clickButton)="unregisterVehicle($event)"
          buttonMessage="Remove From User">
      </app-vehicles-table>
    </div>
    <br />
    <div *ngIf="!errorRegistedVehicles && vehicles.length > 0">
      <h3><label for="registered-vehicles">Other Registered Vehicles in Platform</label></h3>
      <app-vehicles-table  id="registered-vehicles" [vehicles]="vehicles" (clickButton)="registerVehicle($event)"
          buttonMessage="Add to User">
      </app-vehicles-table>
    </div>
  </div>
</div>
