<table class="user-vehicles-table table">
    <thead class="user-vehicles-table-head thead-light">
        <tr>
          <th>Model</th>
          <th>Brand</th>
          <th>Year</th>
          <th>Type</th>
          <th>Price</th>
          <th>Rotation Day</th>
          <th>Is rotation actice?</th>
          <th></th>
        </tr>
    </thead>
    <tbody class="user-vehicles-table-body table-striped">
      <tr *ngFor="let vehicle of vehicles">
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.brand}}</td>
        <td>{{vehicle.year}}</td>
        <td>{{typeMap(vehicle.type)}}</td>
        <td>{{vehicle.price? vehicle.price : "-"}}</td>
        <td>{{vehicle.rotationDay? rotationDayMap(vehicle.rotationDay) : "-"}}</td>
        <td>{{vehicle.rotationActive === undefined? "-" : vehicle.rotationActive? "Yes" : "No"}}</td>
        <td>
          <button type="button" (click)="onClick(vehicle)" class="btn btn-light">
            {{buttonMessage}}
          </button>
        </td>
      </tr>
    </tbody>
</table>