<app-navbar></app-navbar>
<h1>User Information</h1>

<div *ngIf="!editing" id="static-user-info">
    <p>Name: {{user?.name}}</p>
    <p>Email: {{user?.email}}</p>
    <p>CPF: {{user?.cpf}}</p>
    <p>Birth Date: {{user?.birthDate}}</p>
    <button type="button" (click)="allowEditing()">Edit Info</button>
    <button type="button" (click)="removeUser()">Remove User</button>
</div>

<app-owner-form *ngIf="editing" [error]="error" [user]="user"
    submitMessage="Update User" (cancel)="disallowEditing()" 
    (onSubmit)="updateUser($event)" >
</app-owner-form>
