<app-navbar></app-navbar>
<h1 id="user-header">User Information</h1>

<div *ngIf="!editing" id="static-user-info">
    <p><span class="title">Name: </span>{{user?.name}}</p>
    <p><span class="title">Email: </span>{{user?.email}}</p>
    <p><span class="title">CPF: </span>{{user?.cpf}}</p>
    <p><span class="title">Birth Date: </span>{{user?.birthDate}}</p>
    <button type="button" class="btn btn-light" (click)="allowEditing()">Edit Info</button>
    <button type="button" class="btn btn-danger" (click)="removeUser()">Remove User</button>
</div>

<app-owner-form *ngIf="editing" [error]="error" [user]="user"
    submitMessage="Update User" (cancel)="disallowEditing()" 
    (onSubmit)="updateUser($event)" >
</app-owner-form>
