<form id="add-vehicle-form" (ngSubmit)="addVehicle()">

    <div id="select-type-container">
        <label for="select-type">Choose Type</label>
        <select (change)="getBrands()" name="types" id="select-type" [(ngModel)]="vehicleType">
            <option *ngFor="let entry of objectEntries(vehicleTypes)"
                value="{{entry[1]}}">
                {{entry[0]}}
            </option>
        </select>
    </div>
    <br />
    <span *ngIf="brandError != ''">Error fetching brands: {{brandError}}</span>
    <div *ngIf="vehicleType != '' && brandError == ''" id="select-brand-container">
        <label for="select-brand">Choose Brand</label>
        <select (change)="getModels()" name="types" id="select-brand" [(ngModel)]="vehicleBrand">
            <option *ngFor="let brand of vehicleBrands"
               [ngValue]="brand">
                {{brand.nome}}
            </option>
        </select>
    </div>
    <br />
    <span *ngIf="modelError != ''">Error fetching models: {{modelError}}</span>
    <div *ngIf="vehicleBrand && modelError == ''" id="select-model-container">
        <label for="select-model">Choose Model</label>
        <select (change)="getYears()" name="types" id="select-model" [(ngModel)]="vehicleModel">
            <option *ngFor="let model of vehicleModels"
                [ngValue]="model">
                {{model.nome}}
            </option>
        </select>
    </div>    
    <br />
    <span *ngIf="yearError != ''">Error fetching years: {{yearError}}</span>
    <div *ngIf="vehicleModel && yearError == ''" id="select-year-container">
        <label for="select-year">Choose Year</label>
        <select  name="types" id="select-year" [(ngModel)]="vehicleYear">
            <option *ngFor="let year of vehicleYears"
                [ngValue]="year">
                {{year.nome}}
            </option>
        </select>
    </div>
    <br />
    <button type="submit">Add Vehicle</button>
    <button (click)="emitCancel()" type="button">Cancel</button>
</form>