<form id="add-vehicle-form" class="form-group" (ngSubmit)="addVehicle()">
    <app-select-attribute attribute="type" [(attributeHolder)]="vehicleType"
        [attributeList]="objectEntries(vehicleTypes)" (populateNextList)="getBrands()">
    </app-select-attribute>
    <app-select-attribute *ngIf="vehicleType != '' && brandError == ''" attribute="brand" [(attributeHolder)]="vehicleBrand"
        [attributeList]="vehicleBrands" (populateNextList)="getModels()">
    </app-select-attribute>
    <app-select-attribute *ngIf="vehicleBrand  && modelError == ''" attribute="model" [(attributeHolder)]="vehicleModel"
        [attributeList]="vehicleModels" (populateNextList)="getYears()">
    </app-select-attribute>
    <app-select-attribute *ngIf="vehicleModel && yearError == ''" attribute="year" [(attributeHolder)]="vehicleYear"
        [attributeList]="vehicleYears" >
    </app-select-attribute>
    <p *ngIf="addCarError != ''">Error adding the car: {{addCarError}}</p>
    <button type="submit" class="btn btn-light">Add Vehicle</button>
    <button (click)="emitCancel()" type="button" class="btn btn-danger">Cancel</button>
</form>