<div *ngIf="!addingNewUser" id="login-wrapper">
    <div id="invisible-header"></div>
    <div className="login-block">
    <h1>System Access</h1>
    <br />
    <div>
        CPF or Email
        <input type="text" autoComplete="cpf or email" [(ngModel)]="cpfOrEmail" />
    </div>
    <div *ngIf="error" id="login-error">
        Login error: {{error}}
    </div>
    <button type="button" (click)="sendLoginRequest()">
        Log in
    </button>
    <button type="button" (click)="enableAddingUser()">
        Create User
    </button>
    </div>
</div>
<form *ngIf="addingNewUser" id="edit-user-info" [formGroup]="newUserForm" (ngSubmit)="addUser()">
    Name: <input formControlName="name" type="text" />
    <span *ngIf="newUserForm.get('name')?.invalid">Name is required!</span>
    Email: <input formControlName="email" type="email" email />
    <span *ngIf="newUserForm.get('email')?.invalid">Invalid email!</span>
    CPF: <input formControlName="cpf" type="text" />
    <span *ngIf="newUserForm.get('cpf')?.invalid">CPF is required!</span>
    Birth Date: <input formControlName="birthDate" type="date" placeholder="dd/MM/yyyy"/> 
    <span *ngIf="newUserForm.get('birthDate')?.invalid">Birth Date is invalid!</span>
    <div *ngIf="error" id="creating-user-error">
        Login error: {{error}}
    </div>
    <button [disabled]="newUserForm.invalid" type="submit">Add User</button>
</form>