<div *ngIf="!addingNewUser" id="login-wrapper" class="jumbotron-fluid fill">
    <div class="login-block">
        <h1>System Access</h1>
        <br />
        <div>
            <label for="#input-login">CPF or Email</label>
            <br />
            <input type="text" id="input-login" autoComplete="cpf or email" [(ngModel)]="cpfOrEmail" />
        </div>
        <div *ngIf="error" id="login-error">
            Login error: {{error}}
        </div>
        <br />
        <button type="button" class="btn btn-light login-btn" (click)="sendLoginRequest()">
            Log in
        </button>
        <button type="button" class="btn btn-light login-btn" (click)="enableAddingUser()">
            Create User
        </button>
    </div>
</div>
<app-owner-form *ngIf="addingNewUser" [error]="error"
    submitMessage="Add User" (cancel)="disallowAddingUser()" 
    (onSubmit)="addUser($event)" >
</app-owner-form>